# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
*.mo
*.pot
*.log
*.swp
.DS_Store
.env
.env.*
!.env.example
.idea/
.pytest_cache/
.coverage
.coveragerc
coverage.xml
htmlcov/
*.zip
alembic_backup/
